.roster-card {
  position: relative; 
  height: 800px; 
  width: 30%;  
  overflow: scroll; 
  float: left; 
  left: 100px;
}

.roster-button {
  position: relative; 
  height: 50px; 
  width: 100px; 
  top: 250px; 
  left: 10px; 
}

.champ-img {
  position: absolute; 
  left: 0; 
  top: 20px; 
  border-width: 3px black solid; 
}

.champ-name {
  position: absolute; 
  top: 150px;  
  font-size: 1.5vw;
}

.champ-title {
  position: absolute;
  top: 200px;
  height: 100px;
  width: 160px;
  overflow-wrap: normal;
}

/*
Item Bar
*/

/* .items-arr {
  position: absolute; 
  display: flex; 
  flex-direction: row; 
  background-color: green; 
} */

.items-list {
  position: absolute;
  display: flex; 
  flex-flow: row wrap; 
  width: 370px;
  height: 150px;
  border-width: 2px; 
  border-style: solid; 
  border-radius: 4px; 
  left: 160px;
  top: 130px;
}

.list-items {
  position: inline-flex; 
  flex-basis: 33.33%; 
  border-width: 1px; 
  border-color: black; 
  border-style: solid; 
  width: 25%;
  height: 50%;  
  white-space: pre;  
}

/*
STAT BAR
*/

.stat-holder {
  position: absolute; 
  top: 300px; 
  left: 170px;
  height: 300px; 
  width: 360px; 
  background-color: whitesmoke; 
  opacity: 0.2; 
}

.stat-line {
  position: relative; 
  text-align: right; 
}
/*
TOOL TIP FUNCTIONALITY
*/
.tooltip {
  position: relative; 
  display: inline-block; 
  border-bottom: 1px black; 
}

.skill-slot .tooltiptext {
  visibility: hidden; 
  background-color: black;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}