.ChampCard-child {
  width: 10vh; 
  margin: 1rem; 
  box-sizing: border-box;
}

.ChampCard-img {
  max-width: 80%;
  max-height: 80%; 
  border-radius: 10%; 
}

.ChampCard-child a {
  margin: 5px 2rem; 
}

.ChampCard-img:hover {
  cursor: pointer;
}