.ChampBar-child {
  height: 8vh; 
  width: 100%; 
}
.ChampBar-img {
  position: relative; 
  margin-left: 0; 
  width: 30px; 
  border-radius: 50%; 
  right: 3vh;  
  top: 1vh;  
}

td {
  color: white; 
  background-color: #09868b;
}

