.ItemContainer {
  position: fixed; 
  height: 120px; 
  width: 50%;
  right: 0; 
  bottom: 0; 
  overflow-y: scroll; 
  z-index: 1;
}

.toggle-pane {
  position: absolute; 
  right: 355px;
  top: 50%;
  height: 50px; 
  width: 40px;  
}