.mastery-tree {
    position: absolute;
    top: 40%;
    left: -1.3%;  
    width: 200px; 
    height: 320px;
    z-index: 1;  
  }
  
  .tree-node {
    position: relative; 
    border-radius: 50%; 
    text-align: center; 
    height: 40px; 
    width: 40px; 
    border: 2px black solid; 
    margin: 20px; 
    left: 10px; 
  }
  
  .keystone-mastery { 
    height: 60px; 
    width: 60px;
    left: 5px;  
  }
  
  .secondary-mastery {
    position: absolute; 
    height: 55px; 
    width: 55px; 
    left: 85px;
    top: -15px;  
  }
  
  .major-tree {
    position: relative; 
  }
  
  .minor-tree {
    position: absolute; 
    left: 80px; 
    top: 25%; 
  }
  
  .minor {
    width: 40px; 
    height: 40px; 
  }
  
  .stats-tree {
    position: absolute; 
  }
  
  .spec-node {
    position: relative; 
    border: 2px black dotted; 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    left: 95px; 
    bottom: 55px; 
    margin: 10px; 
  }
  
  .keystone-img {
    position: relative;   
    height: 100%; 
    width: 100%;   
  }
  
  .secondary-img {
    position: relative; 
    height: 100px; 
    width: 100px; 
    top: -20px; 
    right: 25px; 
  }
  
  .majortree-img {
    position: relative; 
    height: 100%;
    width: 100%; 
  }
  
  .minortree-img {
    position: relative; 
    height: 100%;  
    width: 100%;
  }
  
  .spectree-img {
    position: relative; 
    height: 60px; 
    width: 60px; 
  }