.stat-holder {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.stat-line {
    width: 45%; 
}

.roster-button {
    position: relative;
    display: inline-block;
    top: 100px; 
}

